<article>
	<section>
		<table>       
			<tbody class="text-x-small">
				{% for event in events %}         
					<tr style="text-align:left">           
					{{event.startDate}}
					{% if event.startTime %}
					| 
					{{event.startTime}}
					{% endif %}
					{% if event.endTime %}
					- {{event.endTime}}
					{% endif %}|   {{event.title}}
					</tr>
				{% endfor %}        
			</tbody>     
		</table>
  	</section>
	<footer>
		<img src = "https://glassgcal.appspot.com/static/images/calendar.png" class="left">
		<p class="text-x-small">{{calendar_title}}</p>
	</footer>
</article>